body {
  font-family: Palatino;
}

h1 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

#reading-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.document {
  padding: 15px;
}

.document-properties {
  background-color: antiquewhite;
  padding: 10px;
  /* margin: 1%;; */
}

.document-title {
  font-weight: bold;
  font-size: large;
}

.document-category {
  font-style: italic;
}

.button {
  font-weight: bold;
  margin-top: 10px;
}

button {
  color: red;
}
