body {
  font-family: Palatino;
}

h1 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

#reading-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.document {
  background-color: antiquewhite;
  padding: 1%;
  margin: 1%;;
}

.document-title {
  font-weight: bold;
  font-size: large;
}

.document-category {
  font-style: italic;
}
